.text-size12 {
    font-size: 12px;
}

.text-size14 {
    font-size: 14px;
}

.text-size20 {
    font-size: 20px;
}

.text-size30 {
    font-size: 30px;
}

.text-size40 {
    font-size: 40px;
}

.text-size50 {
    font-size: 50px;
}

.text-blue {
    color: #1989fa
}

.text-orange {
    color: rgb(246, 123, 98)
}

.text-yellow {
    color: #FEA802
}

.text-red {
    color: red
}

.text-green {
    color: #29B64B
}

.text-gray {
    color: #999
}

.text-grey {
    color: #666
}

.bg-eee {
    background-color: #eee
}

.bg-f1f1f1 {
    background-color: #f1f1f1
}

.bg-grey {
    background-color: #666
}

/*padding*/
.padding {
    padding: 30px
}

.padding-5 {
    padding: 5px
}

.padding-10 {
    padding: 10px
}

.padding-20 {
    padding: 20px
}

.padding-lr-10 {
    padding: 0 10px
}

.padding-lr-20 {
    padding: 0 20px
}

.padding-tb-20 {
    padding: 20px 0
}

.padding-tb-10 {
    padding: 10px 0
}

.padding-10 {
    padding: 5px 10px
}

/**/
.margin-lr-10 {
    margin: 0 10px
}

.margin-lr-20 {
    margin: 0 20px
}

.margin-lr-30 {
    margin: 0 30px
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-tb-10 {
    margin: 10px 0;
}

.margin-tb-20 {
    margin: 20px 0;
}

.margin-tb-30 {
    margin: 30px 0;
}

.margin-tb-40 {
    margin: 40px 0;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.width300 {
    width: 300px
}

.width200 {
    width: 200px
}

.width150 {
    width: 150px
}

.width100 {
    width: 100px
}
.ovh {
    overflow: hidden;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.flex {
    display: flex;
}

.flex > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_1 {
    flex: 1;
}

.box {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.box > .item {
    flex: 1;
}

.require label.el-form-item__label::after {
    content: "*";
    color: red;
}

html {
    height: 100%;
}
em{font-style: normal;}

body {
    margin: 0;
    height: 100%;
    background-color: #eee !important;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;;
}


.clear::after {
    content: "";
    display: block;
    clear: both;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-a {
    background-color: #0083b0 !important;
    color: #fff;
}


.pageTab {
    height: 100%;
    display: flex;
    flex-direction: column;

    .subTab {
        .el-tabs__header {
            margin-bottom: 0;
        }

        .el-tabs__content {
            padding: 0;
        }
    }

    & > .el-tabs__header {
        padding: 20px;
        background: #fff;
        border-radius: 8px;

        .el-tabs__nav-wrap {
            &::after {
                display: none;
            }

            .el-tabs__active-bar {
                display: none;
            }

            .el-tabs__item {
                padding: 0 25px;
                line-height: 40px;
                min-width: 120px;
                text-align: center;
                font-size: 16px;

                &.is-active {
                    background: rgba(18, 110, 255, 1);
                    border-radius: 4px;
                    color: #ffffff;
                }
            }
        }
    }

    &.padding {
        .el-tabs__content {
            padding: 20px;
        }
    }

    .el-tabs__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: #fff;
        border-radius: 8px;
        padding: 0;

        .el-tab-pane {
            height: 100%;
            padding: 10px;
            overflow: auto;

            .el-tabs {
                height: 100%;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.el-form {
    .el-form-item .el-form-item {
        margin-bottom: 0;
    }
}

.card10 {
    .el-card__header {
        padding: 10px;
    }

    .el-card__body {
        padding: 10px;
    }
}

.el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
}

.el-card {
    height: 100%;

    &.is-never-shadow {
        border: 0;
    }

    .el-card__body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.el-pagination {
    padding: 15px 0;
    width: 100%;
    text-align: right;

    .el-pagination__total {
        float: left;
    }
}

.sec1 {
    height: 100%;
    display: flex;
    flex-direction: column;

    .top-body {
        background: #FAFAFA;
        padding: 15px 15px 0;
        border-radius: 6px;
    }

    .subTab .el-tabs__content {
        display: none;
    }


    .components-edit {
        flex: 1;
        padding: 15px 0 0;
        height: 0;

        .components-table {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}

.el-button {
    font-size: 12px;
    border-radius: 5px;


    &.el-button--text {
        border: 0;
        width: auto;
        padding: 0 6px;
    }

    &.cancel {
        color: #126EFF;
        border: 1px solid #126EFF;
    }

    &.submit {
        background: #126EFF;
        color: #fff;
    }

    &.grey {
        background: #F7F8FA;
        color: #1e1e1e;
        border: 1px solid #999;
    }

    &.white {
        background: #fff;
        border: 1px solid #d4d4d4;
        color: #1e1e1e;
    }
}

.boss-index {
    height: 100%;
}

.el-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    display: flex;
    flex-direction: column;
    margin: 0;

    .el-dialog__header {
        background: #C8D8F1;
        padding: 15px 20px;

        .el-dialog__title {
            color: #333;
            font-size: 16px;
            font-weight: 600;
        }
    }

    .el-dialog__footer {
        border-top: 1px solid #EBEBEB;
        padding: 15px 20px;
        text-align: center;
    }

    .el-dialog__body {
        flex: 1;
        overflow: auto;
    }
}

.el-table {
    &.el-table--small {
        font-size: 14px;
    }

    .default th {
        background: #D9DDE2 !important;
        border-color: #d5d5d5;
        color: #1e1e1e;
    }
}

.demo-form-inline {
    display: flex;
    align-items: center;

    .form-inline-flex {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
}

.margin-l-15 {
    margin-left: 15px;
}

.margin-l-8 {
    margin-left: 8px;
}

.term {
    background: #fafafa;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;

    &.line {
        .el-form-item {
            margin-bottom: 0;
        }
    }

    .export {
        float: right;
    }

    .el-input, .el-select {
        width: 160px
    }

    .line {
        margin: 0 10px;
    }
}

.el-breadcrumb {
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
}

.el-select {
    display: block;
}

.tabCenter {
    .el-tabs__nav-scroll {
        display: flex;
        justify-content: center;
    }
    .el-tabs__item {
        font-size: 16px;

        &.is-active {
            color: #126eff;
        }
    }
    .chart-top {
        text-align: center;

        .submit {
            padding: 8px 20px;
        }
    }
}

.price {
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;

    .el-form-item {
        flex: 1;
        margin: 0;

        .el-form-item__label {
            padding: 0 20px;
            display: block;
            background-color: #D9DDE2;
            padding-bottom: 0;
            line-height: 40px;
        }

        .el-form-item__content {
            padding: 15px;
        }
    }
}
