.checkThePrint {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.checkThePrint .innerDialogBox {
  border-radius: 6px;
  width: 65%;
  height: 74%;
  overflow: auto;
  background-color: #fff;
}
.checkThePrint .innerDialogBox .headerTitle {
  width: 65%;
  background-color: #c8d8f1;
  padding: 10px 20px;
  position: fixed;
  top: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.checkThePrint .innerDialogBox .headerTitle .header_leftTitle {
  font-size: 22px;
  font-weight: 600;
}
.checkThePrint .innerDialogBox .headerTitle .header_rightTitle {
  font-size: 14px;
  color: #b0b0b0;
  cursor: default;
}
.checkThePrint .innerDialogBox .contentBox {
  margin-top: 35px;
  box-sizing: border-box;
  padding: 20px;
}
.checkThePrint .innerDialogBox .contentBox .dialog_headBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.checkThePrint .innerDialogBox .contentBox .dialog_headBox img {
  width: 260px;
  height: 73px;
}
.checkThePrint .innerDialogBox .contentBox .flexBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.checkThePrint .innerDialogBox .contentBox .flexBox .flexBox_left {
  flex: 1;
}
.checkThePrint .innerDialogBox .contentBox .flexBox .flexBox_right {
  flex: 1;
}
.checkThePrint .innerDialogBox .contentBox .responsible {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.checkThePrint .innerDialogBox .contentBox .responsible .innerBox {
  width: 400px;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.checkThePrint .innerDialogBox .contentBox .imgBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.checkThePrint .innerDialogBox .contentBox .imgBox img {
  width: 260px;
  height: 73px;
}
.checkThePrint .innerDialogBox .bottomBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  border-top: 1px solid #dfe2e8;
}
.checkThePrint .innerDialogBox .bottomBox .bottomBox_left {
  padding: 10px 30px;
  border: 1px solid #dfe2e8;
  border-radius: 6px;
}
.checkThePrint .innerDialogBox .bottomBox .bottomBox_right {
  padding: 10px 30px;
  background-color: #409eff;
  border-radius: 6px;
  margin-left: 15px;
  color: #fff;
}
