.add-others {
  float: right;
  font-size: 15px;
  text-align: center;
}
.had-selected {
  color: black;
  font-size: 13px;
}
.del-selected {
  margin: 0 10px 10px 0;
}

/*.el-input{*/
/*!*!* width: 100%;*!*/
/*}*/

.avatars {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}
.avatars  .deleteIcon {
  position: absolute;
  right: -0;
  top: -0;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 20px;
  height: 20px;
}
